@model SocialNetwork.Models.Comment

@{
    ViewBag.Title = "Стена";
}
<form asp-route-ProfileLink="@Convert.ToInt32(Url.ActionContext.RouteData.Values.Values.ElementAtOrDefault(2))" asp-action="AddComment" asp-controller="Profile">
    <div class="form-group">
        <label asp-for="Title" class="control-label">Заголовок</label>
        <input type="text" asp-for="Title" class="form-control" />
    </div>
    <div class="form-group">
        <label asp-for="Text" class="control-label">Текст комментария</label>
        <input type="text" asp-for="Text" class="form-control" />
    </div>
    <div class="form-group">
        <input type="submit" value="Отправить" class="btn btn-default" />
    </div>
</form>

<table class="table">
    <tr><td>Заголовок</td><td>Текст</td><td>Время</td><td>Отправитель</td><td>Получатель</td></tr>
    @foreach (var users in ViewData["Users"] as List<User>)
    {
        foreach (var comment in ViewData["Comments"] as List<Comment>)
        {
            if (users.ProfileLink == Convert.ToInt32(Url.ActionContext.RouteData.Values.Values.ElementAtOrDefault(2)) && users.ProfileLink == comment.ProfileLink)
            {
                <tr><td>@comment.Title</td><td>@comment.Text</td><td>@comment.Data</td><td>@comment.ProfileLinkSend</td><td>@comment.ProfileLink</td></tr>
            }
        }
    }
</table>
