@model SocialNetwork.Models.Comment
@{
    ViewBag.Title = "Стена";
}
<div class="white-front">
    @foreach (var users in ViewData["Users"] as List<User>)
    {
        if (users.ProfileLink == Convert.ToInt32(Url.ActionContext.RouteData.Values.Values.ElementAtOrDefault(2)))
        {
            <h4>Стена пользователя @users.FirstName @users.SecondName</h4>
        }
    }
    <form asp-route-ProfileLink="@Convert.ToInt32(Url.ActionContext.RouteData.Values.Values.ElementAtOrDefault(2))" asp-action="AddComment" asp-controller="Profile">
        <div class="form-group">
            <label asp-for="Title" class="control-label">Заголовок</label>
            <input type="text" maxlength="50" asp-for="Title" class="form-control" />
        </div>
        <div class="form-group">
            <label asp-for="Text" class="control-label">Текст комментария</label>
            <input type="text" maxlength="1000" asp-for="Text" class="form-control" />
        </div>
        <div class="form-group">
            <input type="submit" value="Отправить" class="btn btn-success" />
        </div>
    </form>
</div>
<div class="comments">
    <ul class="media-list">
        @foreach (var users in ViewData["Users"] as List<User>)
        {
            if (users.ProfileLink == Convert.ToInt32(Url.ActionContext.RouteData.Values.Values.ElementAtOrDefault(2)))
            {
                var comment = ViewData["Comments"] as List<Comment>;
                for (int i = 0; i <= comment.Count - 1; i++)
                {
                    if (comment[i].ParentId == 0)
                    {
                        <li class="media">
                            <div class="media-left">
                                @if (comment[i].SenderProfileLink == 0)
                                {<img class="media-object img-rounded" src="~/def.png" alt=""> }
                                else
                                {
                                    <a href="/Profile/Wall/@comment[i].SenderProfileLink">
                                        @foreach (var ava in ViewData["Users"] as List<User>)
                                        {
                                            if (comment[i].SenderProfileLink == ava.ProfileLink)
                                            {
                                                if (ava.Avatar == null)
                                                {
                                                    <img class="media-object img-rounded" src="~/def.png" alt="">
                                                }
                                                else
                                                {
                                                    <img class="media-object img-rounded" width="90" height="90" src="@ava.Avatar" alt="">
                                                }
                                            }
                                        }
                                    </a>
                                }
                            </div>
                            <div class="media-body">
                                <div class="media-heading">
                                    @if (comment[i].Sender == "")
                                    {
                                        <div class="author">Аноним</div>;
                                    }
                                    else
                                    {
                                        <div class="author">@comment[i].Sender</div>;
                                    }
                                    <div class="metadata">
                                        <span class="date white-front">@comment[i].Data</span>
                                    </div>
                                </div>
                                <div class="title-comments">@comment[i].Title</div>
                                <div class="media-text text-white">@comment[i].Text</div>
                                <div class="footer-comment">
                                    <span class="comment-reply">
                                        <a style="cursor:pointer" onmousedown="viewRes(@comment[i].Id)" class="reply btn btn-primary">ответить</a>
                                    </span>
                                    <div style="display:none" id="responce @comment[i].Id">
                                        <form class="white-front" asp-route-Receiver="@comment[i].Sender" asp-route-ParentId="@comment[i].Id" asp-route-ProfileLink="@Convert.ToInt32(Url.ActionContext.RouteData.Values.Values.ElementAtOrDefault(2))" asp-action="AddComment" asp-controller="Profile">
                                            <div class="form-group">
                                                <label asp-for="Title" class="control-label">Заголовок</label>
                                                <input type="text" asp-for="Title" class="form-control" />
                                            </div>
                                            <div class="form-group">
                                                <label asp-for="Text" class="control-label">Текст комментария</label>
                                                <input type="text" maxlength="500" asp-for="Text" class="form-control" />
                                            </div>
                                            <div class="form-group">
                                                <input type="submit" value="Отправить" class="btn btn-success" />
                                            </div>
                                        </form>
                                    </div>
                                </div>
                                @foreach (var replycomment in comment)
                                {
                                    if (replycomment.ParentId == comment[i].Id)
                                    {
                                        <div class="media">
                                            <div class="media-left">
                                                @if (replycomment.SenderProfileLink == 0)
                                                {<img class="media-object img-rounded" src="~/def.png" alt=""> }
                                                else
                                                {
                                                    <a href="/Profile/Wall/@replycomment.SenderProfileLink">
                                                        @foreach (var ava in ViewData["Users"] as List<User>)
                                                        {
                                                            if (replycomment.SenderProfileLink == ava.ProfileLink)
                                                            {
                                                                if (ava.Avatar == null)
                                                                {
                                                                    <img class="media-object img-rounded" src="~/def.png" alt="">
                                                                }
                                                                else
                                                                {
                                                                    <img class="media-object img-rounded" width="90" height="90" src="@ava.Avatar" alt="">
                                                                }
                                                            }
                                                        }
                                                    </a>
                                                }
                                            </div>
                                            <div class="media-body">
                                                <div class="media-heading">
                                                    @if (replycomment.Sender == "")
                                                    {
                                                        <div class="author">Аноним</div>;
                                                    }
                                                    else
                                                    {
                                                        <div class="author">@replycomment.Sender</div>;
                                                    }
                                                <div class="metadata">
                                                    @if (replycomment.Receiver != null)
                                                    {
                                                        <span class="date white-front">Ответ для @replycomment.Receiver</span>
                                                    }
                                                    else
                                                    {
                                                        <span class="date white-front">Ответ для Анонима</span>
                                                    }
                                                    <span class="date white-front">@replycomment.Data</span>
                                                </div>
                                                </div>
                                                <div class="title-comments">@replycomment.Title</div>
                                                <div class="media-text text-white">@replycomment.Text</div>
                                                <div class="footer-comment">
                                                    <span class="comment-reply">
                                                        <a style="cursor:pointer" onmousedown="viewRes(@replycomment.Id)" class="reply btn btn-primary">ответить</a>
                                                    </span>
                                                    <div style="display:none" id="responce @replycomment.Id">
                                                        <form asp-route-Receiver="@replycomment.Sender" asp-route-ParentId="@comment[i].Id" asp-route-ProfileLink="@Convert.ToInt32(Url.ActionContext.RouteData.Values.Values.ElementAtOrDefault(2))" asp-action="AddComment" asp-controller="Profile">
                                                            <div class="form-group">
                                                                <label asp-for="Title" class="control-label">Заголовок</label>
                                                                <input type="text" asp-for="Title" class="form-control" />
                                                            </div>
                                                            <div class="form-group">
                                                                <label asp-for="Text" class="control-label">Текст комментария</label>
                                                                <input type="text" maxlength="500" asp-for="Text" class="form-control" />
                                                            </div>
                                                            <div class="form-group">
                                                                <input type="submit" value="Отправить" class="btn btn-success" />
                                                            </div>
                                                        </form>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    }
                                }
                            </li>
                        }
                }
            }
        }
    </ul>
</div>